In [1]:
import numpy as np

class Perceptron:
    def __init__(self, learning_rate=0.01, n_epochs=10):

        self.learning_rate = learning_rate
        self.n_epochs = n_epochs
        self.weights = None
        self.bias = None

    def fit(self, X, y):

        self.weights = np.zeros(X.shape[1])  # Initialize weights with zeros
        self.bias = 0

        for _ in range(self.n_epochs):
            for xi, target in zip(X, y):
                # Calculate the predicted value
                y_pred = self.predict(xi)

                # Update weights and bias based on the error
                error = target - y_pred
                self.weights += self.learning_rate * error * xi
                self.bias += self.learning_rate * error

    def predict(self, x):

        linear_combination = np.dot(x, self.weights) + self.bias
        activation = np.where(linear_combination >= 0, 1, 0)  # Apply step activation function
        return activation

In [2]:

X = np.array([[0, 0], 
              [1, 0], 
              [0, 1], 
              [1, 1]])
y = np.array([0, 1, 1, 0])

model = Perceptron()
model.fit(X, y)

y_pred = model.predict(X)
print("Predicted labels:", y_pred)
print("Actual labels:", y)
print("Accuracy:", np.mean(y_pred == y))

Predicted labels: [1 1 0 0]
Actual labels: [0 1 1 0]
Accuracy: 0.5

In [3]:
X = np.array([[0, 0,1,1,0], 
              [1, 0,1,0,1], 
              [0, 1,0,1,0], 
              [1, 1,1,1,0]])
y = np.array([1, 0, 0, 1])

model = Perceptron()
model.fit(X, y)

y_pred = model.predict(X)
print("Predicted labels:", y_pred)
print("Actual labels:", y)
print("Accuracy:", np.mean(y_pred == y))

Predicted labels: [1 0 0 0]
Actual labels: [1 0 0 1]
Accuracy: 0.75

In [4]:
X=np.array([[1.00,0.08,0.72,1.0],
           [1.00,0.10,1.00,1.0],
           [1.00,0.26,0.58,1.0],
           [1.00,0.35,0.95,0.0],
           [1.00,0.45,0.15,1.0],
           [1.00,0.60,0.30,1.0],
           [1.00,0.70,0.65,0.0],
           [1.00,0.92,0.45,0.0]])

y = np.array([1, 0, 0, 0,1,1,0,0])

print(y)
model = Perceptron()
model.fit(X, y)

y_pred = model.predict(X)
print("Predicted labels:", y_pred)
print("Actual labels:", y)
print("Accuracy:", np.mean(y_pred == y))

[1 0 0 0 1 1 0 0]
Predicted labels: [0 0 0 0 1 1 0 0]
Actual labels: [1 0 0 0 1 1 0 0]
Accuracy: 0.875

In [5]:
#https://www.kaggle.com/c/titanic/data?select=test.csv

In [8]:
import pandas as pd
df = pd.read_csv('smallDataset/train.csv', header=None)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S

In [10]:
df=df[[1,2,5,6,7]]
df.head()

          1       2    5      6      7
0  Survived  Pclass  Age  SibSp  Parch
1         0       3   22      1      0
2         1       1   38      1      0
3         1       3   26      0      0
4         1       1   35      1      0

In [11]:
df=df.drop(0,axis=0) 
df = df.dropna()

In [12]:
df.dtypes

1    object
2    object
5    object
6    object
7    object
dtype: object

In [13]:
df=df.apply(pd.to_numeric)

In [14]:
df=df.astype('int64')
df.dtypes

1    int64
2    int64
5    int64
6    int64
7    int64
dtype: object

In [15]:
y=df[1]
y.head()

1    0
2    1
3    1
4    1
5    0
Name: 1, dtype: int64

In [16]:
X=df[[2,5,6,7]]
X.head()

   2   5  6  7
1  3  22  1  0
2  1  38  1  0
3  3  26  0  0
4  1  35  1  0
5  3  35  0  0

In [18]:
X=np.array(X)
y=np.array(y)

model = Perceptron()
model.fit(X, y)

y_pred = model.predict(X)

print("Accuracy:", np.mean(y_pred == y))

Accuracy: 0.6022408963585434